/*---------- site ----------*/
$site-info: #7f7f82;
/*---------- /site ---------*/

/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- experience ----------*/
$experience-item-1-back:#eb910b;
$experience-item-2-back:#d1963e;
$experience-item-3-back:#c88e36;
$experience-item-4-back:#d1963e;
$experience-description-color:#fff;
$experience-item-title-color:#4b4946;
/*---------- /experience ----------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #fff;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #000;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/

/*---------- menu ----------*/
$menu-color: #a8a7a7;
/*---------- /menu ----------*/

/*---------- navigation ----------*/
$navigation-color: #7c7d80;
/*---------- navigation ----------*/

/*---------- footer ----------*/
$footer-background: #454545;
$footer-color: #fff;
/*---------- footer ----------*/