.confidence {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: #474747;
  background: -moz-linear-gradient(top,  #474747 0%, #f7941e 100%);
  background: -webkit-linear-gradient(top,  #474747 0%,#f7941e 100%);
  background: linear-gradient(to bottom,  #474747 0%,#f7941e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474747', endColorstr='#f7941e',GradientType=0 );

  h3{
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
  }

  &__layout{
    position: relative;
    margin: 0 auto;
    padding: 60px 10px 30px;
  }

  &__item{
    margin-bottom: 25px;
  }

  &__title{
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #f97a00;
  }

  &__img{
    width: 106px;
    margin: 0 auto 15px;

    img{
      display: block;
      width: 100%;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .confidence {
    font-size: 16px;
    line-height: 24px;

    h3{
      margin: 0 20px 5px;
      line-height: 24px;
    }

    &__wrap{
      display: flex;
      display: -webkit-flex;
      justify-content: space-around;
      -webkit-justify-content: space-around;
    }

    &__item{
      width: 30%;
      max-width: 280px;
      margin-bottom: 25px;
    }

    &__title{
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 36px;
      font-weight: 400;
      text-align: center;
      color: #f97a00;
    }

    &__img{
      width: 106px;
      margin: 0 auto 15px;
    }

  }

}

@media (min-width: $desktop) {

  .confidence {
    position: relative;
    z-index: 2;

    h3{
      margin-bottom: 25px;
    }

    &__layout{
      max-width: 1024px;
    }

    &__wrap {
      justify-content: space-around;
      -webkit-justify-content: space-around;
    }

    &:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(243, 146, 0, 0);
      border-top-color: #f39200;
      border-width: 36px 38px 0px 38px;
      margin-left: -38px;
    }

  }
}