.logo {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 153px;

  img{
    width: 100%;
  }

}

@media (min-width: $tablet-portrait) {

  .logo {
    top: 13px;
    left: 15px;
    width: 269px;
  }

}

@media (min-width: $desktop) {

  .logo {
    left: 0;
  }

}