.menu {

  &-btn{
    position: absolute;
    top: 10px;
    right: 16px;
    width: 24px;
    height: 16px;

    span{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 3px;
      background-color: $menu-color;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transition: opacity .3s ease;
      -webkit-transition: opacity .3s ease;

      &:before,
      &:after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: inherit;
        border-radius: 5px;
        background-color: inherit;
      }

      &:before{
        top: -7px;
        transition: top .3s ease, transform .3s ease;
        -webkit-transition: top .3s ease, transform .3s ease;
      }

      &:after{
        bottom: -7px;
        transition: bottom .3s ease, transform .3s ease;
        -webkit-transition: bottom .3s ease, transform .3s ease;
      }
    }

  }

  @media (min-width: $tablet-portrait) {
    display: none;
  }

}