.promo {
  height: 397px;
  padding-top: 40px;
  background: url("../img/bg-promo.jpg") no-repeat 65% 0;
  background-size: auto 104%;

  &__layout{
    width: 290px;
    margin: 0 auto;
    position: relative;
  }

  &__title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: left;

    span{
      display: inline-block;
      width: 244px;
      padding: 0 11px 7px;
      background-color: rgba(248,155,29,.7);

      &:first-child{
        width: 215px;
        padding: 7px 11px 0;
      }

    }

  }

  &__foreword{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

    span{
      display: inline-block;
      width: 145px;
      padding: 0 11px 11px;
      background-color: rgba(124,125,127,.7);

      &:first-child{
        width: 175px;
        padding: 11px 11px 0;
      }

    }

  }

  &__avards{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    box-shadow: -3px 3px 5px rgba(0,0,0,.5);
    border-radius: 10px;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
    }

  }

}

@media (min-width: $tablet-portrait) {

  .promo {
    width: auto;
    height: 521px;
    padding-top: 143px;
    background-position: 54% 0;
    background-size: auto 100%;

    &__layout{
      width: auto;
      max-width: 960px;
      margin: 0 auto;
      padding: 0 28px 20px;
    }

    &__title{
      margin-bottom: 13px;
      font-size: 48px;
      line-height: 50px;

      span{
        width: auto;
        padding: 0 20px 7px;

        &:first-child{
          width: auto;
          padding: 7px 20px 0;
        }

      }

    }

    &__foreword{
      margin-bottom: 48px;
      font-size: 24px;
      line-height: 37px;
      white-space: pre-line;

      span{
        width: auto;
        padding: 0 20px 5px;

        &:first-child{
          width: auto;
          padding: 5px 20px 0;
        }

      }

    }

    &__avards{
      right: 28px;
      width: 140px;
      box-shadow: -3px 3px 15px rgba(0,0,0,.8);
    }

  }


}

@media (min-width: $desktop) {

  .promo {
    height: 524px;
    margin: 0 auto;
    padding-top: 83px;
    background-position: top center;

    &__layout{
      padding-bottom: 55px;
    }

    &__foreword{
      margin-bottom: 77px;
    }

  }

}