.site {
  @include justify;
  @include main-font1;

  &:before{
    opacity: 0;
    visibility: hidden;
  }

  &__header{
    height: 105px;
    font-size: 14px;

    &-layout{
      position: relative;
      width: 100%;
      height: inherit;
      margin: 0 auto;
    }

    &-phone{
      position: absolute;
      top: 84px;
      left: 32px;
      padding-left: 19px;
      color: $site-info;
      font-size: 15px;
      cursor: default;

      &:before{
        position: absolute;
        top: -3px;
        left: 0;
        width: 13px;
        height: 21px;
        background: url("../img/icons-index.png") no-repeat top center;
        background-size: 21px auto;
        content: '';
      }

    }

    &-email{
      position: absolute;
      top: 84px;
      right: 24px;
      padding-left: 27px;
      color: $site-info;
      font-size: 14px;
      cursor: default;

      &:before{
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 13px;
        background: url("../img/icons-index.png") no-repeat 50% -23px;
        background-size: 20px auto;
        content: '';
      }

    }

  }
  &__title{
    margin: 0 20px 29px;
    color: #f97a00;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
  }
  &__footer{
    color: $footer-color;
    background: $footer-background;
    text-align: center;
  }

  &_mobile-menu{
    overflow: hidden;
    height: 100vh;

    &:before{
      z-index: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.7);
      opacity: 1;
      visibility: visible;
      content: '';
      transition: opacity .3s ease, visibility .3s ease;
      -webkit-transition: opacity .3s ease, visibility .3s ease;
    }

  }

}

@media (min-width: $phone-landscape) {
  .site {

  }
}

@media (min-width: $tablet-portrait) {
  .site {

    &__header{
      height: 177px;

      &-phone{
        top: 51px;
        left: auto;
        right: 264px;
        padding-left: 30px;
        font-size: 17px;

        &:before{
          top: -7px;
          width: 19px;
          height: 30px;
          background-size: 31px auto;
        }

      }

      &-email{
        top: 50px;
        right: 81px;
        padding-left: 40px;
        font-size: 16px;

        &:before{
          top: -1px;
          width: 32px;
          height: 21px;
          background-position: 50% -34px;
          background-size: 30px auto;
        }

      }

    }

  }
}

@media (min-width: $tablet-landscape) {
  .site {

  }
}

@media (min-width: $desktop) {
  .site {

    &__header{
      height: 122px;

      &-layout{
        max-width: 960px;
      }

      &-phone{
        top: 21px;
        right: 246px;
      }

      &-email{
        top: 21px;
        right: 66px;

        &:before{
          top: -3px;
        }

      }

    }

  }
}

