.websters-select {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  width: 110px;
  height: 30px;
  color: #666;
  background: #e5e5e5;
  box-shadow: inset -2px 2px 7px #B7B4B4;

  &:first-child:after{
    content: '';
    position: absolute;
    top: 3px;
    left: 103%;
    width: 25px;
    height: 25px;
    background: url('../img/icon-language.png') no-repeat center;
  }

  &_opened {

    .websters-select__arrow {
      transform: rotate(180deg);
    }

  }

  &__arrow{
    position: absolute;
    top: 0;
    right: 2px;
    bottom: 0;
    width: 20px;
    transform-origin: center;
    -webkit-transition: -webkit-transform 200ms ease-in-out;
    transition: transform 200ms ease-in-out;

    &:after,
    &:before {
      position: absolute;
      top: 16px;
      width: 10px;
      height: 3px;
      border-radius: 2px;
      background: $websters-select-border;
      content: '';
    }

    &:after {
      left: 3px;
      transform: rotate(45deg);

    }

    &:before {
      right: 2px;
      transform: rotate(-45deg);

    }
  }

  &__item {
    overflow: hidden;
    @include absoluteCenterY();
    right: 20px;
    left: 5px;
    padding: 1px 5px 0;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &_mobile {

    select {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 1px;
      width: 100%;
    }

  }

  &_custom {

    select {
      position: absolute;
      left: -100000px;
    }

  }

  &__popup {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    background: #e5e5e5;
    box-shadow: inset -2px 2px 7px #B7B4B4;
    width: 140px!important;
    @include main-font1;
    font-size: 14px;
    line-height: 22px;
    color: #666;

    ul {
      z-index: 1;
    }

    li {
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        color: #f39200;
      }

      &.active {
        color: #f39200;
      }

    }

  }

}
